body{
  display:flex;
}

.whole-container{
  width: 85%;
  height: 94%;
  background-color: #D8D8D8;
  display: flex;
  margin: auto auto;
  border-radius: 3px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.top-container{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 430px;
  align-items: center;
  margin-bottom: 30px;
}

#basic-plan{
  height: 380px;
  width: 250px;
  margin-right: 20px;
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 3px 3px 3px 1px #BEBEBE;
}

#basic-plan:hover{
  height: 410px;
  width: 255px;
  z-index: 30;
  margin: auto 0;
  margin-right: 20px;
  box-shadow: 7px 7px 7px 5px #BEBEBE;
  cursor: pointer;
}

#basic-plan:hover .price-tag{
  color: RGB(80, 165, 205);
  font-size: 68px;
}

#basic-plan:hover .per-month{
  color: RGB(80, 165, 205);
}

#basic-plan:hover .plan-names{
  background-color: RGB(80, 165, 205);
}

#pro-plan{
  height: 380px;
  width: 250px;
  margin-right: 20px;
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 3px 3px 3px 1px #BEBEBE;
}

#pro-plan:hover{
  height: 410px;
  width: 255px;
  z-index: 30;
  margin: auto 0;
  margin-right: 20px;
  box-shadow: 7px 7px 7px 5px #BEBEBE;
  cursor: pointer;
}

#pro-plan:hover .price-tag{
  color: RGB(80, 165, 205);
  font-size: 68px;
}

#pro-plan:hover .per-month{
  color: RGB(80, 165, 205);
}

#pro-plan:hover .plan-names{
  background-color: RGB(80, 165, 205);
}
#premium-plan{
  height: 380px;
  width: 250px;
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 3px 3px 3px 1px #BEBEBE;
}
#premium-plan:hover{
  height: 410px;
  width: 255px;
  z-index: 30;
  margin: auto 0;
  margin-right: 20px;
  box-shadow: 7px 7px 7px 5px #BEBEBE;
  cursor: pointer;
}

#premium-plan:hover .price-tag{
  color: RGB(80, 165, 205);
  font-size: 68px;
}

#premium-plan:hover .per-month{
  color: RGB(80, 165, 205);
}

#premium-plan:hover .plan-names{
  background-color: RGB(80, 165, 205);
}

.plan-names{
  height: 85px;
  width: 100%;
  background-color: RGB(143,206,234);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.plan-title{
  font-size: 30px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.plan-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 295px;
}

.price-tag{
  font-size: 65px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.per-month{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.plan-description{
  width: 100%;
  height: 111px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description1{
  width: 160px;
  height: 5px;
  background-color: #B0B0B0;
}

.description2{
  height: 5px;
  background-color:#B0B0B0;
  width: 142px;
  margin-top: 15px;
}

.description3{
  height: 5px;
  background-color:#B0B0B0;
  width: 152px;
  margin-top: 15px;
}

.description4{
  height: 5px;
  background-color:#B0B0B0;
  width: 136px;
  margin-top: 15px;
}

.bot-inner-container{
  width: 92%;
  height: 80%;
  align-self: center;
  justify-content: center;
}

.bot-container{
  height: 340px;
  width: 90%;
  background-color: white;
  align-self: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.stats-container:first-child{
  margin-top: 1%;
}

.stats-container{
  display:flex;
  flex-direction: column;
  height: 33%;
}

.stats-text-container{
  display:flex;
  justify-content: space-between;
}
.stats-text{
  color: grey;
  font-size: 25px;
}
.inner-whole-container{
  overflow: scroll;
}

.original-line{
  width: 100%;
  height: 25px;
  background-color: #D8D8D8;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
}

#user-stats{
  height: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
}

#gigs-stats{
  height: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
}

#projects-stats{
  height: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
}

/*  media queries*/


/* @media (max-width: 1100px){
  #basic-plan{
    height: 380px;
    width: 220px;
    border-radius: 5px;
  }

  #basic-plan:hover{
    height: 410px;
    width: 230px;
  }

  #pro-plan{
    height: 380px;
    width: 220px;
    border-radius: 5px;
  }

  #pro-plan:hover{
    height: 410px;
    width: 230px;
  }

  #premium-plan{
    height: 380px;
    width: 220px;
    border-radius: 5px;
  }
  #premium-plan:hover{
    height: 410px;
    width: 230px;
  }
  .plan-names{
    height: 85px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .price-tag{
    font-size: 55px;
  }

  .per-month{
    font-size: 20px;
  }

  .description1{
    width: 150px;
  }

  .description2{
    width: 132px;
  }

  .description3{
    width: 142px;
  }

  .description4{
    width: 130px;
  }

}

@media (max-width: 940px){
  #basic-plan{
    width: 200px;
  }

  #basic-plan:hover{
    height: 390px;
    width: 210px;
  }

  #basic-plan:hover .price-tag{
    font-size: 55px;
  }

  #pro-plan{
    width: 200px;
  }

  #pro-plan:hover .price-tag{
    font-size: 55px;
  }

  #pro-plan:hover{
    height: 390px;
    width: 210px;
  }

  #premium-plan{
    width: 200px;
  }

  #premium-plan:hover{
    height: 390px;
    width: 210px;
  }
  #premium-plan:hover .price-tag{
    font-size: 55px;
  }

  .plan-names{
    height: 75px;
  }

  .price-tag{
    font-size: 50px;
  }

  .per-month{
    font-size: 20px;
  }

  .description1{
    width: 140px;
  }

  .description2{
    width: 122px;
  }

  .description3{
    width: 132px;
  }

  .description4{
    width: 120px;
  }

}
@media (max-width: 865px){
  #basic-plan{
    width: 190px;
  }

  #basic-plan:hover{
    width: 200px;
  }

  #basic-plan:hover .price-tag{
    font-size: 50px;
  }

  #pro-plan{
    width: 190px;
  }

  #pro-plan:hover .price-tag{
    font-size: 50px;
  }

  #pro-plan:hover{
    height: 390px;
    width: 200px;
  }

  #premium-plan{
    width: 190px;
  }

  #premium-plan:hover{
    height: 390px;
    width: 200px;
  }
  #premium-plan:hover .price-tag{
    font-size: 50px;
  }

  .plan-names{
    height: 70px;
  }

  .price-tag{
    font-size: 45px;
  }

  .per-month{
    font-size: 15px;
  }

  .description1{
    width: 130px;
  }

  .description2{
    width: 112px;
  }

  .description3{
    width: 122px;
  }

  .description4{
    width: 110px;
  }

}

@media (max-width: 723px){
  #basic-plan{
    height: 330px;
    width: 180px;
  }

  #basic-plan:hover{
    width: 190px;
  }

  #basic-plan:hover .price-tag{
    font-size: 40px;
  }

  #pro-plan{
    height: 330px;
    width: 180px;
  }

  #pro-plan:hover .price-tag{
    font-size: 40px;
  }

  #pro-plan:hover{
    height: 360px;
    width: 190px;
  }

  #premium-plan{
    height: 330px;
    width: 180px;
  }

  #premium-plan:hover{
    height: 360px;
    width: 190px;
  }
  #premium-plan:hover .price-tag{
    font-size: 40px;
  }

  .plan-names{
    height: 60px;
  }

  .price-tag{
    font-size: 40px;
  }

  .per-month{
    font-size: 10px;
  }

  .description1{
    width: 120px;
  }

  .description2{
    width: 102px;
  }

  .description3{
    width: 112px;
  }

  .description4{
    width: 100px;
  }

}
@media (max-width: 570px){
  #basic-plan{
    height: 330px;
    width: 110px;
  }

  #basic-plan:hover{
    width: 120px;
  }

  #basic-plan:hover .price-tag{
    font-size: 30px;
  }

  #pro-plan{
    height: 330px;
    width: 110px;
  }

  #pro-plan:hover .price-tag{
    font-size: 30px;
  }

  #pro-plan:hover{
    height: 360px;
    width: 120px;
  }

  #premium-plan{
    height: 330px;
    width: 110px;
  }

  #premium-plan:hover{
    height: 360px;
    width: 120px;
  }
  #premium-plan:hover .price-tag{
    font-size: 30px;
  }
  .plan-title{
    font-size: 18px;
  }
  .plan-names{
    height: 50px;
  }

  .price-tag{
    font-size: 30px;
  }

  .per-month{
    font-size: 7px;
  }

  .description1{
    width: 90px;
  }

  .description2{
    width: 72px;
  }

  .description3{
    width: 82px;
  }

  .description4{
    width: 70px;
  }

}

@media(max-height: 600px){
  #basic-plan{
    height: 250px;
  }
  #pro-plan{
    height: 250px;
  }

  #premium-plan{
    height: 250px;
  }
  #basic-plan:hover{
    height: 260px;
  }
  #pro-plan:hover{
    height: 260px;
  }
  #premium-plan:hover{
    height: 260px;
  }
  .plan-details{
    height: 200px;
  }
  .top-container{
    height: 300px;
    margin-bottom: 0;
  }

  .bot-container{
    height: 200px;
  }
  .stats-text{
    font-size: 17px;
  }

  .original-line{
    margin-top: 2px;
  }

} */
