body{
  display:flex;
}
.whole-container{
  width: 85%;
  height: 94%;
  background-color: grey;
  display: flex;
  margin: auto auto;
  border-radius: 3px;
  box-sizing: border-box;
  /* overflow: scroll; */
  flex-direction: column;
  justify-content: center;
}

.top-container{
  width:100%;
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 6% 0;
}
.plans{
  height: 380px;
  width: 250px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  box-sizing: border-box;
}
.plan-names{
  height: 85px;
  width: 100%;
  background-color:blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.plan-title{
  font-size: 30px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.plan-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 295px;
}

.price-tag{
  font-size: 65px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.per-month{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.plan-description{
  width: 100%;
  height: 111px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description1{
  width: 160px;
  height: 5px;
  background-color: grey;
}

.description2{
  height: 5px;
  background-color:grey;
  width: 142px;
  margin-top: 15px;
}

.description3{
  height: 5px;
  background-color:grey;
  width: 152px;
  margin-top: 15px;
}

.description4{
  height: 5px;
  background-color:grey;
  width: 136px;
  margin-top: 15px;
}
.bot-inner-container{
  width: 92%;
  height: 80%;
  align-self: center;
  justify-content: center;
}
.bot-container{
  height: 390px;
  width: 90%;
  background-color: white;
  align-self: center;
  justify-content: center;
  display:flex;
  margin: 0 auto;
  margin-bottom: 40px;
}
.stats-container:first-child{
  margin-top: 1%;
}
.stats-container{
  display:flex;
  flex-direction: column;
  height: 33%;
  /* margin: 3% auto; */
}

.stats-text-container{
  display:flex;
  justify-content: space-between;
}
.stats-text{
  color: grey;
  font-size: 25px;
}
.inner-whole-container{
  width: 100%;
  height: 100%;
  overflow: scroll;
}
